<h1>This is cool 😃</h1>
<h2> My name is {{ name }} 😊</h2>

<button (click)="count = count + 1" >Click me 💪 Add +1</button>

<h3>{{count}}</h3>

<img [src]="imgSource" width="20%">

<br><br>

<input type="text"  [disabled]="disabled">
<button (click)="disabled = !disabled">Enable or disable</button>

<br><br><br>

<input type="text" (keyup.enter)="showAnimal($event.target.value)" >
<img [src]="imgSource2" width="20%" alt="animal">    


<br><br><br>
<input type="text" (keyup)="showAnimal2($event)">
<img [src]="imgSource3" width="20%" alt="animal3">


