<h1>Dashboard</h1>

<img [src]="featureImage" alt="">

<hr>

<app-card (selectImage)="onSelectImage($event)" [image]="'https://media1.giphy.com/media/7myiYi6kBAzu/giphy.webp?cid=3640f6095bfdd9956b5447636b029d36'"></app-card>
<app-card (selectImage)="onSelectImage($event)" [image]="'https://media2.giphy.com/media/PwRJKvyjLTEas/giphy.webp?cid=3640f6095bfdd9956b5447636b029d36'"></app-card>
<app-card (selectImage)="onSelectImage($event)" [image]="'https://media2.giphy.com/media/bxK7YqFOwrYNa/giphy.webp?cid=3640f6095bfde3466c58746a3256c06c'"></app-card>
<app-card (selectImage)="onSelectImage($event)" [image]="'https://media0.giphy.com/media/XjGpK9XzZnCuI/giphy.webp?cid=3640f6095bfdd9956b5447636b029d36'"></app-card>